/* Mobile phone responsive */

@media only screen and (max-width: 600px) {

    #page_2 {
        color: white;
        background-color: #a79770;
        font-size: 16px;
        line-height: 45px;
    
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 
                               1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
    }

    .columnleft_1 > h1, h2{
        font-size: 24px;
        margin-left: 0px;
        line-height: 24px;
    }

    .columnright_1 > h1, h2{
        font-size: 24px;
        margin-left: 0px;
        line-height: 24px;
    }
    
    li{
        font-size: 16px;
        line-height: 24px;
    }
    
    .columnleft_1{
        grid-column: 2/11;
        grid-row: 1/4;
    }
    
    .columnright_1{
        grid-column: 2/11;
        grid-row: 4/8;
    }
}